.banner {
  @apply grid min-h-fit content-center items-center pt-20 lg:pt-36 pb-20;
  @media only screen and (min-width: 1010px) {
    grid-template-columns: 2fr 1fr;
  }

  &__body {
    @apply m-0;
  }
  &__title {
    @apply text-left font-serif md:text-center lg:text-left;
  }
  &__content {
    @apply  md:gap-4 lg:gap-6;
    &__image {
      @apply relative w-full min-h-[300px] aspect-image overflow-hidden rounded;
    }
  }
 
  &__button {
    @apply relative flex  items-center;
  }
  /* &__svg {
    @apply absolute right-0 hidden w-28 md:block;
    animation: mymove 3s 1;
    @keyframes mymove {
      0% {
        transform: translateX(260px);
      }
      100% {
        transform: translateX(0px);
      }
    }
  } */
}
