.project {
    @apply pt-32 lg:pt-44;
  
    &__title {
      @apply grid justify-between lg:gap-5 pb-0 md:pb-14 md:items-center;
      @media only screen and (min-width: 1010px) {
        grid-template-columns: 2fr 1fr;
      }
      .project__tag {
        @apply absolute right-0 top-8 hidden w-28 md:block;
        animation: mymove 3s 1;
        @keyframes mymove {
          0% {
            /* top: 0px; */
            transform: translateX(260px);
          }
          100% {
            /* top: 0px; */
            transform: translateX(0px);
          }
        }
      }
    }
  }